//ABOUT

header {
  .scroll {
    background-color: $primary !important;
  }
  //NAVBAR
  nav {
    z-index: 999 !important;
    .clicked-hr {
      border-bottom: 3px solid $warning;
      color: white !important;
    }
    .navbar-nav {
      .nav-link {
        width: 7rem;
      }
    }
  }
  //HERO SECTION
  .hero-section-about {
    @include basicImg("../img/about/gallery-img-3.jpg", unset);
    height: 30rem;
    .hero-dark {
      top: 0;
      left: 0;
      background-color: #00000085;
      z-index: 1;
    }
    .hero-content-about {
      z-index: 9;
    }
    .btn {
      @include hoverEffectOne(darken($warning, 10%));
    }
  }
}
main {
  .history-section {
    hr {
      @include customHr($warning);
    }
    .history-section-content {
      margin-top: 3rem;
    }
    .card {
      margin-left: -4rem;
      margin-top: 3rem;
    }
  }
  .gallery-section {
    hr {
      @include customHr($warning);
    }
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
    .column {
      .img-1 {
        @include basicImg("../img/about/gallery-img-1.jpg", unset);
      }
      .img-2 {
        @include basicImg("../img/about/gallery-img-2.jpg", unset);
      }
      .img-3 {
        @include basicImg("../img/about/gallery-img-3.jpg", unset);
      }
      .img-4 {
        @include basicImg("../img/about/gallery-img-4.jpg", unset);
      }
      .img-5 {
        @include basicImg("../img/about/gallery-img-5.jpg", unset);
      }
      .img-6 {
        @include basicImg("../img/about/gallery-img-6.jpg", unset);
      }
      .img-7 {
        @include basicImg("../img/about/gallery-img-7.jpg", unset);
      }
      .img-8 {
        @include basicImg("../img/about/gallery-img-8.jpg", unset);
      }
      .img {
        height: 20rem;
        width: 20rem;
        transition: all 0.5s ease;
        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }
  .team-section {
    .team-section-header {
      hr {
        @include customHr($warning);
      }
    }

    .card-team {
      background: transparent !important;
      border: none !important;

      .card-footer {
        .text-muted {
          a {
            cursor: pointer;
            i {
              font-size: 1.5rem;
              &:hover {
                color: $primary !important;
              }
            }
          }
        }
      }
    }
  }
}
footer {
  .social-network-container {
    a {
      cursor: pointer;
      margin-right: 0.5rem;

      i {
        font-size: 1.5rem;
        &:hover {
          color: $warning !important;
        }
      }
    }
  }
}
//MEDIA QUERIES

@media only screen and (max-width: 600px) {
  .history-section {
    .w-sm-100 {
      width: 100% !important;
    }
    .w-sm-o {
      width: auto !important;
    }
    .card {
      margin: 0 !important;
    }
  }
}
