@import "./mixins";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  height: 111rem;
  //HEADER
  header {
    .scroll {
      background-color: $primary !important;
    }
    //NAVBAR
    nav {
      z-index: 9 !important;
      .clicked-hr {
        border-bottom: 3px solid $warning;
        color: white !important;
      }
      .navbar-nav {
        .nav-link {
          width: 7rem;
        }
      }
    }
    //HERO SECTION
    .hero-section {
      @include basicImg("../img/landing_page_img1.jpg", "unset");
      height: 42rem;

      .btn {
        @include hoverEffectOne(darken($warning, 10%));
      }
    }
  }

  //MAIN
  main {
    //ABOUT LITE SECTION
    .about-lite-section {
      hr {
        @include customHr($warning);
      }
      .btn {
        @include hoverEffectOne($warning);
      }
    }
  }
  //RESERVATION LITE SECTION
  .reservation-lite-section {
    @include basicImg("../img/landing-page-reservations.jpg", fixed);
    height: 40rem;

    .overlay-dark {
      background-color: rgb(0 0 0 / 63%);
    }
    .col-12 {
      z-index: 999999;
    }
  }
}
