@import "./mixins";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  height: 111rem;
  //HEADER
  header {
    .scroll {
      background-color: $primary !important;
    }
    //NAVBAR
    nav {
      z-index: 9 !important;
      .clicked-hr {
        border-bottom: 3px solid $warning;
        color: white !important;
      }
      .navbar-nav {
        .nav-link {
          width: 7rem;
        }
      }
    }
    //HERO SECTION
    .hero-section {
      @include basicImg("../img/landing_page_img1.jpg");
      height: 42rem;

      .btn {
        @include hoverEffectOne($primary);
      }
    }
  }
}
