//COLORS

$primary: #070707;
$secondary: #efefef;
$yellow: #dc9800 !default;
//BODY
$body-bg: $secondary !default;
$font-family-sans-serif: "Roboto", system-ui, -apple-system, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

//FONTS
$font-size-base: 1rem !default; // Assumes the browser default, typically `16px`
$h1-font-size: $font-size-base * 3 !default;
